<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>568170647848-62prp1gk0drve46sh9krvtc6ti92l92a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.568170647848-62prp1gk0drve46sh9krvtc6ti92l92a</string>
	<key>API_KEY</key>
	<string>AIzaSyDO1UqaewJxZkJpeql2nHVB-7N8FDYqV10</string>
	<key>GCM_SENDER_ID</key>
	<string>568170647848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokClone</string>
	<key>PROJECT_ID</key>
	<string>tiktok-clone-172c9</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-clone-172c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:568170647848:ios:d5b4d7ebab5dc98a2a401d</string>
</dict>
</plist>